@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
}

.active {
    color: aqua;
}

@media screen and (min-width: 992px) {
    .btn-navbar {
        display: none;
    }
}