/* .login-group {
    position: absolute;
    top: 50px;
    right: 50px;
    left: 50px;
} */

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
}

body {
    font-family: 'Poppins', sans-serif;
}